<div class="upload-image-wrapper">
    <div class="upload-header">
        <div class="title-div">
            <img src="../../../assets/lungleft.png" class="lung-left">
            
            <img src="../../../assets/lungright.png" class="lung-right">
            <span class="title">Lung Cancer Detection</span>
        </div>
        <div class="Login-button" (click)="signOut()" *ngIf="!demo">
            <p class="button-text">Log Out</p>
       </div>
       <div class="Login-button" (click)="GoHome()" *ngIf="demo">
        <p class="button-text">Home</p>
   </div>
    </div>
    <div class="upload-Image-Main">
       
            <div [ngClass]="upload?'upload-div2':'upload-div'">
                <div class="upload-sub">
                <div class="upload-title">
                    
                    <span class="upload-text" *ngIf="!upload">Upload a CT Scan Image</span>
                    <p class="upload-text" *ngIf="upload" (click)="Reset()">Reset </p>
                    <span class="upload-text" *ngIf="upload">Image scan was successfull! </span>
                </div>
                <div class="image-div">
                  <img [src]="imgSrc">
                </div>
                <div class="result-display" *ngIf="upload">
                   <p class="result-display-text">{{result}}</p>
                </div>
                <p class="sample" *ngIf="!upload">Fig. Sample DICOM image</p>
                <p class="sample" *ngIf="upload">The prediction accuracy value is: <span class="percent">83.57%</span></p>
                </div>
              </div>
        
        <div class="upload-button" *ngIf="!upload" (click)="fileInput.click()" >
            <input #fileInput type="file" (change)="OnChange($event)" style="display:none"/>
            <p class="loader" *ngIf="spin"></p>
            <p class="button-text"  >Upload CT Scan Image(DICOM)</p>
        </div>
        <!-- diaply result component -->
        <div class="result-div">
        <app-display-result></app-display-result>
        </div>

    </div>
    <p *ngIf="!demo" class="previousText" (click)="emit('previous')" >Check previous results<img src="../../../assets/previous.png" class="gobackimage"></p>
</div>
