<div class="main-page-wrapper" id="main">
      <div class="title-div">
        <img src="../../../assets/lungleft.png" class="lung-left">
        
        <img src="../../../assets/lungright.png" class="lung-right">
        <span class="title">Lung Cancer Detection</span></div>
      <div class="Login-button" (click)="goToLogin()">
           <p class="button-text">Login</p>
      </div>
    <div class="main-title">
      Detect Lung Cancer In Single Click
    </div>
    <div class="TryDemo-button" (click)="tryDemo()">
        <p class="button-text">Try Demo</p>
    </div>
</div>
 